<app-header></app-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <p>Código Promocional</p>
        <ion-item>
          <ion-input
            placeholder="Introduce tu código promocional"
            type="text"
            [(ngModel)]="promotionalCode"
          >
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <p>Información del cliente</p>

        <ion-item>
          <ion-input
            placeholder="Introduce el correo electronico"
            type="email"
            [(ngModel)]="email"
            required
          >
          </ion-input>
          <br />
        </ion-item>

        <ion-item>
          <ion-label
            >I consent to receiving emails from Ledger about prodcuts, updates
            and industry news.</ion-label
          >
          <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <p>Estoy comprando como...</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="7">
        <ion-input placeholder="Nombre" type="text" [(ngModel)]="userName">
        </ion-input>
      </ion-col>
      <ion-col size="5">
        <ion-input placeholder="Apellidos" type="text" [(ngModel)]="lastName">
        </ion-input>
      </ion-col>
      <ion-col>
        <ion-input
          placeholder="Empresa (Opcional)"
          type="text"
          [(ngModel)]="company"
        >
        </ion-input>
      </ion-col>
      <ion-col size="12">
        <ion-input
          placeholder="Dirección linea 1"
          type="text"
          [(ngModel)]="address"
        >
        </ion-input>
      </ion-col>
      <ion-col size="12">
        <ion-input placeholder="Dirección linea 2 (Opcional)" type="text">
        </ion-input>
      </ion-col>
      <ion-col size="12">
        <ion-item class="pais">
          <ion-label>Pais</ion-label>
          <ion-select interface="action-sheet" [(ngModel)]="country">
            <ion-select-option>Spain</ion-select-option>
            <ion-select-option>France</ion-select-option>
            <ion-select-option>Italy</ion-select-option>
            <ion-select-option>UK</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col size="6">
        <ion-input placeholder="Ciudad" type="text" [(ngModel)]="city">
        </ion-input>
      </ion-col>

      <ion-col size="6">
        <ion-item class="pais">
          <ion-label>Provincia</ion-label>
          <ion-select interface="action-sheet" [(ngModel)]="province">
            <ion-select-option>Barcelona</ion-select-option>
            <ion-select-option>Alt-Empordà</ion-select-option>
            <ion-select-option>Baix-Empordà</ion-select-option>
            <ion-select-option>Tarragona</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col size="6">
        <ion-input
          placeholder="Código Postal"
          type="number"
          [(ngModel)]="zipCode"
        >
        </ion-input>
      </ion-col>

      <ion-col size="6">
        <ion-input
          placeholder="Teléfono"
          type="number"
          [(ngModel)]="telephoneNumber"
        >
        </ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-button (click)="nextPage()" expand="full" color="secondary"
          >Continuar</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
