<app-header></app-header>

<ion-content [fullscreen]="true">
  <div class="body">
    <h5>Direccion de envio</h5>
    <div class="direccion-container">
      <div class="name-surname">
        <p>{{fullName}}</p>
      </div>
      <p class="text">{{address}}</p>
      <p class="btn">Editar</p>
    </div>
    <section class="met-envio">
      <h5>Método de envío</h5>
      <div class="radio-container">
        <ion-radio-group [(ngModel)]="shipment">
          <article>
            <ion-radio value="standard"></ion-radio>
            <div class="ship-info">
              <p>Envío estándar</p>
              <p class="ship-time">
                Los pedidos que incluyan Nano X se expedirán en 2 semanas.
              </p>
              <p class="ship-price-free ship-price">FREE SHIPING</p>
            </div>
          </article>
          <article>
            <ion-radio value="express"></ion-radio>
            <div class="ship-info">
              <p>Envío express</p>
              <p class="ship-time">
                Los pedidos que incluyan Nano X se expedirán en 2 semanas.
              </p>
              <p class="ship-price-pay ship-price">10,58 €</p>
            </div>
          </article>
        </ion-radio-group>
      </div>
    </section>

    <!-- <ion-grid fixed>
      <ion-row>
        <ion-col>
          <ion-list-header>
            <ion-label>Dirección de envío</ion-label>
          </ion-list-header>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-label>{{fullName}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-label>{{address}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-list>
          <ion-radio-group [(ngModel)]="shipment">
            <ion-list-header>
              <ion-label>Método de envío</ion-label>
            </ion-list-header>

            <ion-item>
              <ion-label>Envío estándar</ion-label>
              <ion-radio slot="start" value="Envío estándar"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label>Envío express</ion-label>
              <ion-radio slot="start" value="Envío express"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </ion-row>
    </ion-grid> -->

    <ion-button
      (click)="nextPage()"
      color="danger"
      expand="block"
      fill="clear"
      shape="round"
    >
      Siguiente
    </ion-button>
    <ion-button
      routerLink="/first-page"
      color="secondary"
      expand="block"
      fill="clear"
      shape="round"
    >
      < Back to info
    </ion-button>
  </div>
</ion-content>
