* {
  margin-bottom: 0;
  padding-bottom: 0;
}
.body {
  padding: 1em;
  margin: 0 auto;
}
.name-surname {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  font-weight: bold;
  margin-top: 0.5rem;
}
.text {
  font-size: small;
}
.direccion-container {
  padding: 0 0.3rem;
}
.btn {
  color: #60cdb4;
}
article {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1rem;
  padding: 0 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.ship-info {
  display: flex;
  flex-direction: column;
  width: 80%;
  font-size: small;
}
.ship-time {
  color: orange;
}
.ship-price {
  font-weight: bolder;
}
.ship-price-free {
  color: #60cdb4;
}
.met-envio {
  margin-top: 3rem;
}
