<app-header></app-header>

<ion-content>
  <p>Aquí irá la información del carrito!</p>
  <ion-content fullscreen>
    <ion-card>
      <img src="../../../assets/amazon.jpg" />
      <ion-card-header>
        <ion-card-subtitle>Envío {{shipment}}</ion-card-subtitle>
        <ion-card-title>{{address}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label>Comprador: {{userName}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Correo: {{userEmail}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Código: {{promotionalCode}} </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Compañía: {{company}} </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Método de pago: {{payment}}</ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-content>
