* {
  margin: 0;
  padding: 0;
}
.body {
  padding: 1em;
  margin: 0 auto;
}
.radio {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1rem;
  margin: 1rem 0;
}
.radio-container {
  margin: 0 0.3rem;
  margin-top: 1.5rem;
}
ion-item {
  margin: 0.3rem 0.5rem;
  height: 3rem;
}
.paypal-logo {
  width: 40%;
}
.codigo {
  margin-top: 1rem;
}
section {
  margin-bottom: 1.7rem;
}
.check {
  margin: 1rem 0;
}
.pay-info {
  display: flex;
  color: black;
  justify-content: center;
  padding: 0.9rem 0.9rem;
  background-color: #e6e6e6;
  border-radius: 0.3rem;
}
.btn {
  margin-top: 1.5rem;
}
