<app-header></app-header>
<ion-content [fullscreen]="true">
  <div class="body">
    <section class="metodo-pago">
      <h5>Metodo de Pago</h5>
      <div class="radio-container">
        <ion-radio-group [(ngModel)]="payment">
          <div class="cradito-radio radio">
            <ion-radio value="Credit card"></ion-radio>
            <p>Tarjeta de credito</p>
          </div>
          <ion-grid class="grid-credito">
            <ion-row>
              <ion-col size="12">
                <ion-item>
                  <ion-input
                    type="number"
                    placeholder="Card Number"
                  ></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-item>
                  <ion-input
                    type="text"
                    placeholder="Card Holder Name"
                  ></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <ion-item>
                  <ion-input type="text" placeholder="Exp. Month"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="6">
                <ion-item>
                  <ion-input type="text" placeholder="Exp. Year"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-item>
                  <ion-input type="text" placeholder="CVV"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
          <div class="paypal-radio radio">
            <ion-radio value="PayPal"></ion-radio>
            <img class="paypal-logo" src="../../../../assets/PayPal-Logo.png" />
          </div>
        </ion-radio-group>
      </div>
    </section>
    <section class="codigo-container">
      <h5>Código promocional</h5>
      <div class="codigo">
        <ion-item>
          <ion-input type="text" placeholder="Introduce codigo"></ion-input>
          <ion-button fill="clear"> Aplicar </ion-button>
        </ion-item>
      </div>
    </section>

    <section>
      <h5>Dirección de facturación</h5>
      <div class="radio-container">
        <ion-radio-group>
          <div class="radio">
            <ion-radio value="mismadireccion"></ion-radio>
            <p>Igual que la direccion de envio</p>
          </div>
          <div class="radio">
            <ion-radio value="diferentedireccion"></ion-radio>
            <p>Usa una dirección diferente</p>
          </div>
        </ion-radio-group>
      </div>
    </section>

    <div class="check radio">
      <ion-checkbox></ion-checkbox>
      <p style="width: 90%">Estoy de acuerdo con las clausulas.</p>
    </div>

    <p class="pay-info">
      El método de pago que selecciono puede requerir una verificación
      adicional. Es posible que se le redireccione a un sitio de un tercero para
      completar la verificación.
    </p>

    <ion-button
      (click)="nextPage()"
      color="danger"
      expand="block"
      fill="clear"
      shape="round"
    >
      Pagar
    </ion-button>
    <ion-button
      routerLink="/second-page"
      color="secondary"
      expand="block"
      fill="clear"
      shape="round"
    >
      < Back to shipping
    </ion-button>
  </div>
</ion-content>
